:root {
//colors
    --color-white: #fff;
    --color-orange: #C99E71;
    --bgc-black: #1C1814;
    --bgc-brown: #14110E;
    --bgc-dark-blue: #121315;
// base
    --font-family-righteous: "Righteous", sans-serif;
    --font-family-inter: "Inter", sans-serif;
    --font-family-urbanist: "Urbanist", sans-serif;
    --content-width: 1920px;
    --container-offset: 15px;
    --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
    --content-top-width: 1320px;
    --container-offset: 15px;
    --container-top-width: calc(var(--content-top-width) + (var(--container-offset) * 2));
    
}