@mixin font-face ($font-family, $url, $weight) {
    @font-face {
        font-family: '#{$font-family}';
        font-weight: #{$weight};
        font-style: normal;
        src: 
            local("#{$font-family}"),
            url('../resources/fonts/#{$url}.woff2') format('woff2'),
            url('../resources/fonts/#{$url}.woff') format('woff'),
            url('../resources/fonts/#{$url}.eot') format('eot');
        font-display: swap;
    }
}
// @include font-face('Righteous', 'Righteous-Regular', 400);
