//*=========Header=========*//
//*=========Header-Top=========*//
.header {
    @include for-tablet-portait {
        //padding-top: 125px;
        background-color: var(--bgc-black);
        overflow-y: auto;
    }

    // .header__top

    &__top {
        z-index: 100;
        background-color: var(--bgc-black);
        height: 125px;
        @include for-tablet-portait {
            position: fixed;
            height: 100%;
            top: 0;
            right: 0;
            bottom: 0;
            text-align: center;
            width: 50%;
            min-width: 280px;
            transform: translateX(100%);
            transition: all 0.3s;
        }
        @include for-phone-main {
            width: 100%;
        }
    }
    &__top--open {
        @include for-tablet-portait {
            transform: translateX(0%);
        }
    }
    // .header__top-inner

    &__top-inner {
        @include flex-all-sb;
        padding: 32px 0;
        font-family: var(--font-family-inter);
        font-size: 18px;
        @include for-tablet-portait {
            height: 100%;
            flex-direction: column;
            background-color: var(--bgc-black);
            justify-content: start;
            font-size: 24px;
        }
    }

    // .header__nav-left

    &__nav-left {
        @include flex-all-sb;
    }

    // .header__nav-left-list

    &__nav-left-list {
        @include flex-all-sb;
        @include for-tablet-portait {
            flex-direction: column;
        }
    }

    // .header__nav-item

    &__nav-item {
        padding-right: 48px;
        transition: all 0.3s;
        line-height: 180%;
        @include for-tablet-landscape {
            padding: 0 16px;
        }
        @include for-tablet-portait {
        }
    }
    &__nav-item path {
        transition: all 0.3s;
    }
    &__nav-item:hover path {
        stroke: var(--color-orange);
    }
    &__nav-item:hover {
        color: var(--color-orange);
    }
    &__nav-item:last-child {
        padding-right: 0;
        @include for-tablet-portait {
            padding: 0 16px;
        }
    }

    // .header__nav-link

    &__nav-link {
        @include for-tablet-portait {
            display: block;
            padding: 15px 7px;
        }
    }

    // .header__logo

    &__logo {
        transition: all 0.3s;
        @include for-tablet-landscape {
            padding-left: 16px;
        }
        @include for-tablet-portait {
            order: -1;
            padding: 30px;
        }
    }
    &__logo:hover {
        transform: scale(1.1);
    }

    // .header__nav-right

    &__nav-right {
        @include flex-all-sb;
    }

    // .header__nav-right-list

    &__nav-right-list {
        @include flex;
        @include for-tablet-portait {
            flex-direction: column;
        }
    }
}
.header {
    overflow: hidden;
    // .header__body

    &__body {
        @include flex-v-center;
        background: url(../img/bg-herosection.jpg) 100% 100% / cover no-repeat;
    }

    // .header__body-inner

    &__body-inner {
        display: flex;
        align-items: end;
        padding: 147px 0 167px 0;
        @include for-tablet-landscape {
            display: block;            
        }
        @include for-tablet-portait {
            padding-bottom: 70px;           
        }
    }

    // .header__body-content

    &__body-content {
        padding-right: 550px;
    }

    // .header__topic

    &__topic {
        width: 529px;
        padding-bottom: 32px;
        @include for-phone-main {
            width: 310px;
        }
    }

    // .header__desc

    &__desc {
        font-family: var(--font-family-urbanist);
        color: rgba(255, 255, 255, 0.8);
        opacity: 0.8;
        line-height: 180%; /* 36px */
        width: 529px;
        padding-bottom: 64px;
        text-transform: capitalize;
        @include for-phone-main {
            width: 300px;
        }
        @include for-fold {
            font-size: 14px;
            width: 260px;
            padding: 0 15px 30px 5px;
        }
    }

    // .header__button

    &__button {
        padding: 24px 40px;
    }

    // .header__body-play

    &__body-play {
        display: flex;
        flex-direction: column;
        align-items: center;
        @include for-tablet-landscape {
            align-items: start;
            margin-top: 30px;
        }
    }

    // .modal

    &__body-modal {
        position: fixed;
        inset: 0;
        z-index: 2;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #000000c1;
        opacity: 0;
        visibility: hidden;
        transition: all 0.5s;
    }
    &__body-modal--open {
        opacity: 1;
        visibility: visible;
    }
    &__body-modal-window {
        position: relative;        
        padding: 50px 20px 20px 20px;
        background-color: #fff;
        border-radius: 12px;
        @include for-tablet-landscape {
            
        }
    }
    
    &__modal-close-btn {
        font-family: sans-serif;
        position: absolute;
        top: 15px;
        right: 15px;
        width: 50px;
        height: 50px;
        font-size: 20px;
        font-weight: 700;
        background-color: white;
        border-radius: 50%;
        border: none;
        cursor: pointer;
        @include for-tablet-landscape {
            top: 155px;
            right: 18px;
        }
    }
    &__modal-window iframe {
        @include for-tablet-portait {
            width: 434px;
            height: 325px;            
        }
        @include for-phone-main {
            width: 270px;
            height: 202px;            
        }
    }

    //header__play-border
    &__play-border {
        border: 1.5px solid #fff;
        border-radius: 50%;
        margin-bottom: 20px;
        transition: all 0.3s;
    }

    &__play-border:hover {
        border-color: var(--color-orange);
    }

    // .header__play-icon

    &__play-icon {
        padding: 26px;
        transition: all 0.3s;
    }

    // .header__play-text

    &__play-text {
        font-family: var(--font-family-inter);
        text-transform: uppercase;
        transition: all 0.3s;
        white-space: nowrap;
    }
    &__play-text:hover {
        color: var(--color-orange);
    }
}
