.main {

		// .main__merchandise

		&__merchandise {
			background-color: var(--bgc-brown);
			padding-bottom: 140px;
			@include for-tablet-portait {
				padding-bottom: 70px;
			}
		}
}
.merchandise {

		// .merchandise__inner

		&__inner {
			display: flex;
			background-color: var(--bgc-black);
			padding: 72px 80px 84px 169px;
			@include for-tablet-portait {
				flex-direction: column;
				padding: 30px 30px 30px 70px;
			}
			@include for-phone-main {
				flex-direction: column;
				padding: 15px 15px 15px 20px;
			}
		}

		// .merchandise__image

		&__image {
			margin-right: 160px;
			@include for-tablet-landscape {
				width: 100%;
				height: 100%;
				margin-right: 60px;
				@include for-tablet-portait {
				width: 40%;
				height: 40%;
				margin-right: 0px;
				margin-bottom: 15px;
				}
			}
		}

		// .merchandise__content

		&__content {
		}

		// .merchandise__content-topic

		&__content-topic {
			margin-bottom: 36px;
			@include for-phone-main {
				margin-bottom: 15px;
			}
		}

		// .merchandise__content-text

		&__content-text {
			margin-bottom: 36px;
			font-family: var(--font-family-urbanist);
			font-weight: 500;
			line-height: 180%; /* 28.8px */
			text-transform: capitalize; 
			color: rgba(255, 255, 255, 0.80); 
			opacity: 0.8;
			
		}
		&__content-text p {
			
			@include for-phone-main {
				font-size: 14px;
				line-height:normal;
			}
		}

		// .merchandise__content-button

		&__content-button {
			padding: 20px 36px;
		}
}
