.main {

    // .main__reservation

    &__reservation {
        padding-bottom: 140px;
        background-color: var(--bgc-brown);
        @include for-tablet-portait {
            padding-bottom: 70px;
        }
    }
}
.reservation {

    // .reservation__inner

    &__inner {
        display: flex;
        height: 652px; 
        @include for-phone-main {
            flex-direction: column-reverse;
            height: 100%;
        }
    }

    // .reservation__map

    &__map {
        width: 50%;
        height: 100%; 
        filter: grayscale(5);
        @include for-phone-main {
            width: 100%;
            height: 310px;
            margin-top: 20px;
        }
    }

    // .reservation__content

    &__content {
        background-color: var(--bgc-black);
        width: 50%;
        @include for-tablet-landscape {
            padding: 15px;
            @include for-phone-main {
                width: 100%;
            }
        }
    }

    // .reservation__header

    &__header {
        text-align: center;
        padding: 72px 0 56px 0;
    }

    // .reservation__header-headline

    &__header-headline {
    }

    // .reservation__header-topic

    &__header-topic {
    }

    // .reservation__form

    &__form {
        
        text-align: center;
        margin: 0 auto;

    }

    // .reservation__form-input

    &__form-input {
        background-color: var(--bgc-brown);
        width: 489px;
        height: 64px; 
        margin-bottom: 24px;
        margin-right: auto;
        margin-left: auto;
        color: rgba(255, 255, 255, 0.80); 
        font-family: var(--font-family-urbanist);
        font-size: 18px; 
        line-height: 180%; /* 32.4px */ 
        padding: 16px 0 16px 20px;
        @include for-tablet-landscape {
            width: 90%;
        }
    }
    &__form-input:last-child {        
        margin-bottom: 56px;
    }
    // .reservation__form-button

    &__form-button {
        margin-top: 32px;
        font-family: var(--font-family-inter);
        font-size: 18px; 
        font-weight: 700; 
        text-align: center;
        padding: 20px 36px; 
        @include for-tablet-portait {
            margin-top: 0;
        }
    }
}
