.main {
    // .main__testimonial

    &__testimonial {
        background-color: var(--bgc-brown);
        padding-bottom: 100px;
    }
}
.testimonial {
    // .testimonial__inner

    &__inner {
        padding-bottom: 90px;
        overflow: hidden;
    }

    // .testimonial__header

    &__header {
        text-align: center;
        padding-bottom: 56px;
    }

    // .testimonial__header-headline

    &__header-headline {
    }

    // .testimonial__header-topic

    &__header-topic {
    }

    // .testimonial__swiper-container

    &__swiper-container {
        box-sizing: border-box;
        width: 100%;
    }

    // .testimonial__swiper-wrapper

    &__swiper-wrapper {
        display: flex;
        min-width: 0;
        position: relative;
    }

    // .testimonial__swiper-slide

    &__swiper-slide {
        width: auto;
        height: 305px;
        flex-shrink: 0;
        padding: 40px;
        background-color: var(--bgc-black);
    }

    // .testimonial__slide-main

    &__slide-main {
        display: flex;
        gap: 24px;
        margin-bottom: 28px;
    }

    // .testimonial__slide-image

    &__slide-image {
        width: 129px;
        height: 149px;
        flex-shrink: 0;
    }

    // .testimonial__slide-text

    &__slide-text {
        width: 332px;
        font-family: var(--font-family-urbanist);
        font-weight: 500;
        line-height: 180%; /* 28.8px */
        text-transform: capitalize;
        opacity: 0.8;
        color: rgba(255, 255, 255, 0.8);
    }

    // .testimonial__slide-bottom

    &__slide-bottom {
        height: 46px;
        display: flex;
        justify-content: space-between;
    }

    // .testimonial__slide-person

    &__slide-person {
    }

    // .testimonial__person-name

    &__person-name {
        font-family: var(--font-family-urbanist);
        font-weight: 500;
        line-height: 120%; /* 21.6px */
        padding-bottom: 4px;
    }

    // .testimonial__person-position

    &__person-position {
        color: rgba(255, 255, 255, 0.5);
        font-family: var(--font-family-urbanist);
        opacity: 0.8;
    }

    // .testimonial__slide-rating

    &__slide-rating {
        padding-top: 23px;
        display: inline-block;
        vertical-align: bottom;
        line-height: normal;
    }
    &__slide-rating svg {
        white-space: nowrap;
        overflow: hidden;
    }

    // .testimonial__swiper-button-prev
    &__swiper-button-prev::before {
        content: "";
        position: absolute;
        top: -15%;
        left: -80%;
        width: 56px;
        height: 56px;
        border-radius: 50%;
        background-color: #121315;;
        z-index: -1;
        transition: all .3s;
    }
    &__swiper-button-prev:hover::before {
        content: "";
        position: absolute;
        top: -15%;
        left: -80%;
        width: 56px;
        height: 56px;
        border-radius: 50%;
        background-color: #C99E71;
        z-index: -1;
        transition: all .3s;
    }
    &__swiper-button-prev svg {
        transition: all .5s;
    }
    &__swiper-button-prev:hover svg {
        transition: all .5s;
        fill: #000;
    }

    // .testimonial__swiper-button-next

    &__swiper-button-next svg {
        transition: all .5s;
    }
    &__swiper-button-next:hover svg {
        fill: #000;
    }
    &__swiper-button-next::before {
        content: "";
        position: absolute;
        top: -15%;
        left: -80%;
        width: 56px;
        height: 56px;
        border-radius: 50%;
        background-color: #121315;
        z-index: -1;
        transition: all .3s;
    }
    &__swiper-button-next:hover::before {
        content: "";
        position: absolute;
        top: -15%;
        left: -80%;
        width: 56px;
        height: 56px;
        border-radius: 50%;
        background-color: #C99E71;
        z-index: -1;
        transition: all .3s;
    }
    

    // .testimonial__swiper-pagination

    &__swiper-pagination {
        font-family: var(--font-family-urbanist);
        color: var(--color-orange);
        font-size: 20px; 
        text-align: left;
        position: relative;

    }

    // .testimonial__swiper-scrollbar

    &__swiper-scrollbar {
    }
}

.swiper-container {
}
.swiper-wrapper {
}
.swiper-slide {
}
.swiper-button-prev {
    left: var(--swiper-navigation-sides-offset, 1054px);
    right: 50px;
}
.swiper-button-next {
    right: var(--swiper-navigation-sides-offset, 10px);
    left: auto;
}

.swiper-button-next,
.swiper-button-prev {
    position: absolute;
    top: var(--swiper-navigation-top-offset, 110%);
    right: 23px;
    width: 20px;
    height: var(--swiper-navigation-size);
    margin-top: calc(0px - (var(--swiper-navigation-size) / 2));
    align-items: flex-end;
    justify-content: flex-end;
    color: var(--swiper-navigation-color, var(--swiper-theme-color));
}
.swiper-pagination {
    max-width: 120px;
    top: 32px;
}
.swiper-scrollbar {
    background: rgb(255, 255, 255, 0.1);
}
.swiper-scrollbar-drag {
    background: #c99e71;
}
.swiper-horizontal > .swiper-scrollbar,
.swiper-scrollbar.swiper-scrollbar-horizontal {
    left: var(--swiper-scrollbar-sides-offset, 0%);
    bottom: var(--swiper-scrollbar-bottom, -60px);
    top: var(--swiper-scrollbar-top, auto);
    z-index: 50;
    height: var(--swiper-scrollbar-size, 4px);
    width: 120px;
}
.swiper-horizontal {
    position: relative;
}
.swiper-button-prev::after,
.swiper-rtl .swiper-button-next::after {
    content: none;
}
.swiper-button-next::after,
.swiper-rtl .swiper-button-prev::after {
    content: none;
}

